// Base
// All base defaults and styles
// -------------------------------------------------------------------

// Defaults
html {
  box-sizing: border-box;
  font-size: $base-reference;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(255,255,255,0.01) 0 0 1px;
  overflow-y: auto;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background: $light;
  color: $black;
  margin: 0;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}
