// Base Layout
// All base layout styles, grids, containers, etc.
// -------------------------------------------------------------------

#app {
  margin-top: 2.35rem;
  padding: 2rem;

  .type-area {
    -webkit-app-region: no-drag;
  }
}